.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  max-width: 400px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  will-change: transform;
  animation: rotateCog 1s linear infinite;
}

@keyframes bounceMusic {
  0% {
    transform: none;
  }
  25% {
    transform: scaleX(150%);
  }
  50% {
    transform: none;
  }
  75% {
    transform: scaleY(150%);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  will-change: transform;
  animation: bounceMusic 1s ease-in-out infinite;
}

@keyframes enlargeMag {
  0% {
    transform: none;
  }
  50% {
    transform: scale(140%);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-search:hover {
  will-change: transform;
  animation: enlargeMag 1s linear infinite;
}
